/* Login */
.section-login {}


.style-card {
  background-color: rgb(81 69 61 / 40%);
  border-radius: 2rem;
}


.style-img {
  border-radius: 2rem 0 0 1rem;
}

/* Fin Login */

/* Carousel */
#carouselExampleIndicators {
  .carousel-item {
    img {
      max-width: 700px;
      margin: auto;
    }
  }
}

/* Fin Carousel */

/* Cards */
.card {
  border-radius: 2rem;
}

.card-body .home{
  color: white;
  // border-radius: 2rem 0 0 1rem;
}

summary {
  list-style-type: '⬇ ';
  background-color: #a18350;
  color: white;
  padding: 3px;
  border-radius: 30px 0px 30px 0px;
  font-size: 16px;
}

details {
  background-color: #a18350c4;
  font-size: 13px;
  border-radius: 30px 0 0 0;
}

details[open]>summary {
  list-style-type: '⬆ ';
  background-color: #a18350;
  border-radius: 30px 0px 0px 0px;
}

.card-img-top {
  border-radius: 2rem 0 2rem 0;
  width: 250px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.numberCircle {
  width: 84px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  font-size: 16px;
  border: 1px solid rgba(192, 171, 136, 0.7882352941);
  color: #81560d;
  background: rgba(192, 171, 136, 0.7882352941);
  position: absolute;
  top: 14px;
  left: 69%;
  transform: translateX(30%);
  font-weight: bold;
}

/* Fin Cards */

/* Contact */
.contact-page {

  background-color: #f9f9f9;

  &__banner {
    img {
      width: 100%;
    }
  }

  &__socials {
    .row {
      .col {
        border-bottom: solid 1px #272727;
        padding-bottom: 30px;

        @media (min-width: 768px) {
          border-bottom: none;
        }

      }
    }
  }
}

/* Footer */
.style-footer {
  background-color: #212529;
  color: white;
}