/* Login */
.section-login {}

.btn_style{
  background-color: #be6e23;
  color: white;
}

.icon-instagram{
  :hover{
    color: #cf6a0b;
  }
  color: #d49962;
}

.style-card {
  background-color: rgb(81 69 61 / 40%);
  border-radius: 2rem;
}


.style-img {
  border-radius: 2rem 0 0 1rem;
}

/* Fin Login */

/* Carousel */
#carouselExampleIndicators {
  .carousel-item {
    img {
      max-width: 700px;
      margin: auto;
    }
  }
}

/* Fin Carousel */

/* Cards */
.card {
  border-radius: 2rem;
}

.card-body {
  &__detail {
    color: white;
  }

  &__description {
    color: white;
    padding: 15px;
  }

  summary {
    list-style-type: '⬇ ';
    background-color: #315a7a;
    color: white;
    padding: 6px;
    border-radius: 30px 0px 30px 0px;
    font-size: 16px;
  }

  details {
    background-color: #315a7abb;
    font-size: 13px;
    border-radius: 30px 0 0 0;    
  }

  details[open]>summary {
    list-style-type: '⬆ ';
    background-color: #315a7a;
    border-radius: 30px 0px 0px 0px;
  }

  // border-radius: 2rem 0 0 1rem;
}

.container-img {
  overflow: hidden;
}

.card__img-top-home {
  border-radius: 8rem;
  width: 200px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-img:hover .card__img-top-home {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.card__img-top {
  border-radius: 2rem 0 2rem 0;
  width: 250px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.numberCircle {
  width: 84px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  font-size: 16px;
  border: 1px solid rgba(192, 171, 136, 0.7882352941);
  color: #81560d;
  background: rgba(192, 171, 136, 0.7882352941);
  position: absolute;
  top: 14px;
  left: 69%;
  transform: translateX(30%);
  font-weight: bold;
}

.img-combo_pokemon {
  box-shadow: 0px 0px 28px 4px #efaa79;
}

.img-combo_marvel {
  box-shadow: 0px 0px 28px 4px #43dbfb;
}

.img-combo_cel {
  box-shadow: 0px 0px 28px 4px #bc82e2;
}

/* Fin Cards */

/* Contact */
.contact-page {

  background-color: #f9f9f9;

  &__banner {
    img {
      width: 100%;
      height: 40rem;
    }
  }

  &__socials {
    .row {
      .col {
        border-bottom: solid 1px #272727;
        padding-bottom: 30px;

        @media (min-width: 768px) {
          border-bottom: none;
        }

      }
    }
  }
}

.card-contact{
  position: sticky;
  left: 33.3333%;
  top: 310px;
}

/* Footer */
.style-footer {
  background-color: #212529;
  color: white;
}

/* Table */
.table-crud {
  padding: 4rem;

  &__button-create {
    text-align: start;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

thead {
  background-color: #333;
  color: white;
}

th,
td {
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background: #e7e7e7;
}

/* Forms */
.form-label {
  font-weight: 500 !important;
}

.required:after {
  content: " *";
  color: rgb(175, 9, 9);
}

/* Detalle producto */
.card_detail {
  width: 1000px;
}

